# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# R
.Rhistory
.RData
.Rproj.user/

# Logs and temp files
*.log
*.tmp
*.swp

# Real/private data
data/
raw_data/
private_data/
